/* src/components/Hero.css */
.hero-container {
  height: 60vh; 
  background-size: cover;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
  position: relative; 
}


.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
}

.hero-content {
  position: relative; 
  z-index: 1;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.2rem;
}